# Introducción 
Objetivo:
Este proyecto tiene como objetivo practicar tareas comunes de la ingeniería de software y mejorar habilidades en el campo de los datos.

Se realizará la creación y gestión de entornos virtuales de Python, desarrollo de una aplicación web y su publicación en la nube para que sea accesible al público.

Se desarrollará por medio de un conjunto de datos de anuncios de coches, el enfoque no estará en los datos ni en su análisis sino es el uso de herramientas de desarrollo de aplicaciones web como Render, Git Hub y practicar el manejo de terminales como git bash.

Etapas:

1- Importar librerías y subir archivo csv, carga de datos,ver la información general, valores duplicados y ausentes(Data_Raw).

2- Preparar los Datos .

3- Construcción de Gráficos y botones.de (Data_Clean) a (Data_Processed)

4- Desarrollo del cuadro de mandos de la aplicación web.

5- Conclusión General.

##  Importar librerías, subir archivo csv  información general, ver valores duplicados y ausentes (Data_raw).

In [29]:
# Importar librerías y Cargar datos 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [30]:
# Leer el archivo
data_raw = pd.read_csv("C:/Users/Vane/Desktop/PracticasTripletenVane/06DataCars/vehicles_us.csv")

# Mostrar las primeras filas del DataFrame para verificar que se cargó correctamente
print(data_raw.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [31]:
# Obtener la información general 
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [32]:
# Obtener las 5 primeras filas de la tabla df.
data_raw.head(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [33]:
# Calcular el número de valores duplicados
datos_duplicados = data_raw.duplicated().sum()
print(datos_duplicados)

0

In [34]:
# Calcular el número de valores ausentes o datos faltantes
data_raw.isna().sum()
# Estimación del porcentaje de valores en las columnas
datos_faltantes = data_raw.isnull().sum() / len(data_raw) * 100 
print(datos_faltantes)

price            0.000000
model_year       7.023775
model            0.000000
condition        0.000000
cylinders       10.208637
fuel             0.000000
odometer        15.316836
transmission     0.000000
type             0.000000
paint_color     17.985444
is_4wd          50.369723
date_posted      0.000000
days_listed      0.000000
dtype: float64

**Observaciones:**
Se realizan las siguientes adecuaciones:  
- Quitar columnas que no se ocupan: 'date_posted'  , 'days_listed'.
- Reemplazar valores no finitos (NA o inf) con 0.
- Convertir el tipo de dato de la columna 'model_year' de float a int.

## Preparar los Datos.

In [22]:
# Eliminar las columnas 'date_posted' y 'days_listed' del DataFrame
data_raw = data_raw.drop(['date_posted', 'days_listed'], axis=1)

# Verificar el resultado
print(data_raw.head())

KeyError: "['date_posted', 'days_listed'] not found in axis"

In [ ]:
# Reemplazar valores no finitos (NA o inf) con 0
data_raw['model_year'] = data_raw['model_year'].fillna(0)  # Si hay NaN, los reemplaza por 0
data_raw['model_year'] = data_raw['model_year'].replace([float('inf'), -float('inf')], 0)  # Reemplazar infinito

# Convertir la columna 'model_year' de float a int
data_raw['model_year'] = data_raw['model_year'].astype(int)

# Verificar el tipo de dato después de la conversión
print(data_raw.dtypes)

price             int64
model_year        int32
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
dtype: object

## Construcción de Gráficos y botones.de (data_clean) a (data_processed).