# Introducción 
Objetivo:
Este proyecto tiene como objetivo practicar tareas comunes de la ingeniería de software y mejorar habilidades en el campo de los datos.

Se realizará la creación y gestión de entornos virtuales de Python, desarrollo de una aplicación web y su publicación en la nube para que sea accesible al público.

Se desarrollará por medio de un conjunto de datos de anuncios de coches, el enfoque no estará en los datos ni en su análisis sino es el uso de herramientas de desarrollo de aplicaciones web como Render, Git Hub  y streamlit y practicar el manejo de terminales como git bash.

Etapas:

1- Importar librerías y subir archivo csv, carga de datos,ver la información general, valores duplicados y ausentes(Data_Raw).

2- Preparar o limpieza de datos de data_raw a data_clean y guardar el archivo limpio.


5- Conclusión General.

##  Importar librerías, subir archivo csv  información general, ver valores duplicados y ausentes (Data_raw).

In [17]:
# Importar librerías y Cargar datos 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Leer el archivo
data_raw = pd.read_csv("C:/Users/Vane/Desktop/PracticasTripletenVane/06DataCars/Data/Vehicles_us.csv")

# Mostrar las primeras filas del DataFrame para verificar que se cargó correctamente
print(data_raw.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [19]:
# Obtener la información general 
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [20]:
# Obtener las 5 primeras filas de la tabla df.
data_raw.head(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [21]:
# Calcular el número de valores duplicados
datos_duplicados = data_raw.duplicated().sum()
print(datos_duplicados)

0

In [22]:
# Calcular el número de valores ausentes o datos faltantes
data_raw.isna().sum()
# Estimación del porcentaje de valores en las columnas
datos_faltantes = data_raw.isnull().sum() / len(data_raw) * 100 
print(datos_faltantes)

price            0.000000
model_year       7.023775
model            0.000000
condition        0.000000
cylinders       10.208637
fuel             0.000000
odometer        15.316836
transmission     0.000000
type             0.000000
paint_color     17.985444
is_4wd          50.369723
date_posted      0.000000
days_listed      0.000000
dtype: float64

**Observaciones:**
Se realizan las siguientes adecuaciones:  
- Quitar columnas que no se ocupan: 'date_posted'  , 'days_listed'.
- Reemplazar valores no finitos (NA o inf) con 0.
- Columna Paint_Color cambiar valores vacíos a color_unknown.
- Reemplazar valores 0 por NaN en la columna 'odometer'
- Reemplazar valores 0 por NaN en la columna 'cylinders'
- Convertir el tipo de dato de la columna 'model_year' de float a int.
- Crear una nueva columna llamada ''manufacturer' o fabricante .

## 2- Preparar o limpieza de datos de data_raw a data_clean .

In [23]:
# Eliminar las columnas 'date_posted' y 'days_listed' del DataFrame
data_raw = data_raw.drop(['date_posted', 'days_listed'], axis=1)

# Verificar el resultado
print(data_raw.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd
0    automatic     SUV         NaN     1.0
1    automatic  pickup       white     1.0
2    automatic   sedan         red     NaN
3    automatic  pickup         NaN     NaN
4    automatic   sedan       black     NaN

In [24]:
# Reemplazar valores no finitos (NA o inf) con 0
data_raw['model_year'] = data_raw['model_year'].fillna(0)  # Si hay NaN, los reemplaza por 0
data_raw['model_year'] = data_raw['model_year'].replace([float('inf'), -float('inf')], 0)  # Reemplazar infinito

# Convertir la columna 'model_year' de float a int
data_raw['model_year'] = data_raw['model_year'].astype(int)

# Verificar el tipo de dato después de la conversión
print(data_raw.dtypes)

price             int64
model_year        int32
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
dtype: object

In [25]:
# Columna paint_color cambiar valores vacíos a color_unknown.
data_raw['paint_color'] = data_raw['paint_color'].fillna('color_unknown')
# Verificar cambios
print(data_raw['paint_color'].unique())

['color_unknown' 'white' 'red' 'black' 'blue' 'grey' 'silver' 'custom'
 'orange' 'yellow' 'brown' 'green' 'purple']

In [26]:
# Columna is_4wd valores vacíos cambiar a 0
data_raw['is_4wd'] = data_raw['is_4wd'].fillna('0')
# Verificar cambios
print(data_raw['is_4wd'].unique())

[1.0 '0']

In [28]:
# Reemplazar valores 0 por NaN en la columna 'odometer'
data_raw['odometer'] = data_raw['odometer'].replace(0, np.nan)
# Verificar los cambios 
print(data_raw['odometer'].isna().sum())

8077

In [ ]:
# Reemplazar valores 0 por NaN en la columna 'cylinders'
data_raw['cylinders'] = data_raw['cylinders'].replace(0, np.nan)
# Verificar los cambios 
print(data_raw['cylinders'].isna().sum())

5260

In [29]:
# Hacer una columna con el fabricante o manufacturer
data_raw['manufacturer'] = data_raw['model'].apply(lambda x: x.split()[0])

# Revisar el resultado
print(data_raw[['model', 'manufacturer']])

                model manufacturer
0              bmw x5          bmw
1          ford f-150         ford
2      hyundai sonata      hyundai
3          ford f-150         ford
4        chrysler 200     chrysler
...               ...          ...
51520   nissan maxima       nissan
51521     honda civic        honda
51522  hyundai sonata      hyundai
51523  toyota corolla       toyota
51524   nissan altima       nissan

[51525 rows x 2 columns]

## Guardar el archivo limpio (data_raw a data_clean)

In [30]:
#Guardar cambios efectuados de la limpieza del archivo
data_clean = data_raw
print(data_clean.head())
# Crear una copia del csv limpio
data_clean.to_csv("C:/Users/Vane/Desktop/PracticasTripletenVane/06DataCars/Data/data_clean.csv", index=False)

print("¡Copia del archivo limpio guardada como 'data_clean.csv' en la carpeta 'Data'!")

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400        2011          bmw x5       good        6.0  gas  145000.0
1  25500           0      ford f-150       good        6.0  gas   88705.0
2   5500        2013  hyundai sonata   like new        4.0  gas  110000.0
3   1500        2003      ford f-150       fair        8.0  gas       NaN
4  14900        2017    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type    paint_color is_4wd manufacturer
0    automatic     SUV  color_unknown    1.0          bmw
1    automatic  pickup          white    1.0         ford
2    automatic   sedan            red      0      hyundai
3    automatic  pickup  color_unknown      0         ford
4    automatic   sedan          black      0     chrysler
¡Copia del archivo limpio guardada como 'data_clean.csv' en la carpeta 'Data'!

In [31]:
# Cargar archivo csv limpio 
data_clean =pd.read_csv("C:/Users/Vane/Desktop/PracticasTripletenVane/06DataCars/Data/data_clean.csv")
print(data_clean.columns)

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'manufacturer'],
      dtype='object')

## Conclusiones

- Se efectuó la limpieza del archivo, para porsteriormente en el archivo app.py con el data_clean listo realizar los gráficos así como botones desplegables y mostrarlos en la aplicación.